@mixin cuadrado ($fondo,$ancho:200px){
    background-color: $fondo;
    width: $ancho;
    height: 200px;
    margin-top: 5px;
    padding: 10px;
} 
.cuadrado-1{
    
   @include cuadrado(purple,100px);
}
.cuadrado-2{

    @include cuadrado(pink,200px);
}
.cuadrado-3{
   
    @include cuadrado(red);
}